/* Global styles */
* {
    box-sizing: border-box;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
  }

  * {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }
  
  /* Import the San Francisco font from Google Fonts */
  @import url(https://fonts.googleapis.com/css?family=San+Francisco&display=swap);
  
  /* Apply the San Francisco font to your desired elements */
  
  @font-face {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    src: local('Montserrat Regular'), local('Montserrat-Regular'), url(https://fonts.gstatic.com/s/montserrat/v15/JTUSjIg1_i6t8kCHKm459Wlhzg.ttf) format('truetype');
  }
  
  @font-face {
    font-family: 'sans-serif';
    font-style: normal;
    font-weight: 400;
    src: local('Montserrat Regular'), local('Montserrat-Regular'), url(https://fonts.googleapis.com/css?family=San+Francisco&display=swap) format('truetype');
  }
  
  body {
    font-family: 'Trebuchet MS', sans-serif;
    font-size: 16px;
    line-height: 1.5;
    color: #333;
    border-color: transparent;
  }
  
  .container-hero {
    max-width: 90%; /* changed from px to percentage */
    margin: 0 auto;
    padding: 0 2rem; /* changed from px to rem */
    align-items: flex-end; /* changed from bottom to flex-end */
  }
  
  header {
    display: flex;
    justify-content: space-between;
    align-items: flex-start; /* changed from top to flex-start */
    background: transparent;
    color: transparent;
    padding: 0;
  }
  
  .logo a {
    font-family: 'Trebuchet MS', sans-serif;
    color: #f2f2f2;
    text-decoration: none;
    font-weight: bold;
  }
  
  nav {
    font-family: 'Trebuchet MS', sans-serif;
    float: right;
    margin-top: 1.1em;
  }
  
  nav ul {
    list-style: none;
  }
  
  nav li {
    display: inline-block;
    margin-left: 3vw; /* changed from px to vw */
  }
  
  nav a {
    font-family: 'Trebuchet MS', sans-serif;
    color: #f2f2f2;
    text-decoration: none;
    font-weight: bold;
    text-transform: uppercase;
    font-size: 1.2rem; /* added font-size in rem */
  }
  
  nav a:hover {
    color: #f58220;
  }  
  
  .hero {
    height: 70vh;
    font-family: 'Trebuchet MS', sans-serif;
    background-size: cover;
    background-position: center;
    justify-content: left;
    align-items: baseline;
    text-align: bottom;
    color: #0077c2;
    position: relative;
    display: flex;
    flex-direction: row-reverse;
  }
  
  .hero h1 {
    font-family: 'Trebuchet MS', sans-serif;
    font-weight: bold;
    margin-bottom: 1.43%;
    margin-right: 5.71%;
    justify-content: left;
    align-items: center;
    text-align: left;
  }

  .hero-contain {
    background-color: #f2f2f2;
    width: auto;
    height: 5rem;
    position: absolute;
    bottom: 0;
    left: 0;
    border-top-right-radius: 30px;
  }
  
  .hero-contain h1 {
    font-family: 'Trebuchet MS', sans-serif;
    font-weight: bold;
    margin-left: 0.25em;
    margin-right: 0.25em;
    font-size: 7rem;
    padding-bottom: 0.2em;
    white-space: nowrap;
  }  
  
  .hero p {
    font-size: 1.5rem;
    margin-bottom: 2.86%;
  }
  
  /* Body Style */
  
  body {
    font-family: 'Trebuchet MS', sans-serif;
    font-size: 100%; /* equivalent to 16px */
    line-height: 1.5;
    color: #333;
    background-color: #fff;
  }
  
  /* The Main New Styles */
  .info {
    margin-top: 5%;
  }
  
  .info p {
    font-family: 'Trebuchet MS', sans-serif;
    font-size: 2.5vw;
  }
  
  .facts{
    font-family: 'Trebuchet MS', sans-serif;
    font-size: 2.5vw;
  }
  
  h2{
    font-family: 'Trebuchet MS', sans-serif;
    margin-top: 2%;
    margin-bottom: 1%;
    font-size: 4vw;
    font-weight: bold;
    color: #0077c2;
  }
  
  p{
    font-family: 'Trebuchet MS', sans-serif;
  }
  
  .facts p{
    margin-left: 2%;
    font-family: 'Trebuchet MS', sans-serif;
    font-size: 2.5vw;
  }
  
  .facts strong{
    font-family: 'Trebuchet MS', sans-serif;
    font-size: 2.5vw;
  }
  
  .climate p{
    font-family: 'Trebuchet MS', sans-serif;
    font-size: 2.5vw;
  }
  
  h3 {
    font-family: 'Trebuchet MS', sans-serif;
    font-size: 5vw;
  }
  
  .container-des {
    max-width: 80%; /* equivalent to 960px */
    margin: 0 auto;
    padding: 0 1.67%; /* equivalent to 20px */
    align-items: top;
  }
  
  header {
    position: absolute;
    top: 2.33%; /* equivalent to 28px */
    left: 13rem; /* equivalent to 250px */
  }  
  
  .logo {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%; /* Set the height of the logo to match the height of the header /
    padding: 1%;
    font-size: 3.125vw; / equivalent to 50px for a viewport width of 1600px */
    font-weight: 2500;
    font-size: 3rem;
    box-align: left;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 0px;
    color: #ffffff;
    margin-left: 1%;
    }
    
    .subtitle1 {
      padding: 2%;
      background-color: #e7717d;
      color: #ffffff;
    }
    
    .subtitle1 h2 {
      font-family: 'San Francisco', sans-serif;
      margin-left: 2.5%;
      font-size: 2.5vw; /* equivalent to 40px for a viewport width of 1600px */
      font-weight: 2500;
      box-align: left;
      font-weight: bold;
      text-transform: uppercase;
      letter-spacing: 0px;
    }
    
    .subtitle2 {
      padding: 2%;
      background-color: #afd275;
      color: #ffffff;
    }
    
    .subtitle2 h2 {
      margin-left: 2.5%;
      font-size: 2.5vw; /* equivalent to 40px for a viewport width of 1600px */
      font-weight: 2500;
      box-align: left;
      font-weight: bold;
      text-transform: uppercase;
      letter-spacing: 0px;
    }
    
    .subtitle2 div {
    margin-left: 2.5%;
    font-size: 2.5vw; /* equivalent to 40px for a viewport width of 1600px */
    font-weight: 2500;
    box-align: left;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 0px;
    }
  
    .subtitle3 {
      padding: 1%;
      background-color: #333;
    }
    
    .subtitle3 h2 {
      margin-left: 2.5%;
      margin-top: 2%;
      font-size: 3em;
      font-weight: 2500;
      box-align: left;
      font-weight: bold;
      text-transform: uppercase;
      letter-spacing: 0px;
      color: #ffffff;
    }
    
    .subtitle3 h3 {
      margin-left: 2.5%;
      font-size: 3em;
      font-weight: 2500;
      box-align: left;
      font-weight: bold;
      text-transform: uppercase;
      letter-spacing: 0px;
      color: #afd275;
    }
    
    .subtitle3 h4 {
      margin-left: 2.5%;
      margin-bottom: 2%;
      font-size: 3em;
      font-weight: 2500;
      box-align: left;
      font-weight: bold;
      text-transform: uppercase;
      letter-spacing: 0px;
      color: #009DC4;
    }
      
      .search-container {
      display: flex;
      justify-content: center;
      margin-bottom: 2%;
      }
      
      input[type="text"] {
      width: 18.75%;
      padding: 1.5%;
      margin-right: 1%;
      box-sizing: border-box;
      border: 0.125em solid #ccc;
      border-radius: 0.25em;
      font-size: 1em;
      }
      
      button {
      background-color: #4CAF50;
      color: white;
      padding: 1.5% 2.5%;
      border: none;
      border-radius: 0.25em;
      cursor: pointer;
      }
      
      button:hover {
      background-color: #45a049;
      }
  
  header {
    display: flex;
    justify-content: space-between;
    align-items: top;
    background: transparent;
    color: transparent;
    padding: 0 px;
  }

  
  body {
    height: 100%;
  }
  
  body {
    background-color: #f2f2f2;
    color: #333;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  
  main {
    flex: 1;
    padding: 2rem;
  }
  
  h1,
  h2,
  h3 {
    font-weight: bold;
  }
  
  h3 {
    margin-bottom: 1rem;
  }
  
  p {
    margin-bottom: 1.5rem;
  }
  
  a {
    color: #0077c2;
    text-decoration: none;
  }
  
  .grid {
    display: grid;
    gap: 2rem;
  }
  
  .card {
    font-family: 'Trebuchet MS', sans-serif;
    background-color: #fff;
    border-radius: 0.25rem;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    overflow: hidden;
  }
  
  .card img {
    width: 100%;
    height: 400px;
    object-fit: cover;
  }
  
  .card h3 {
    font-size: 30px;
    margin: 1rem;
    color: #0077c2;
  }

  .card a {
    display: block;
    background-color: #0077c2;
    color: #fff;
    text-decoration: none;
    font-size: 18px;
    padding: 10px 20px;
    border-radius: 4px;
    transition: background-color 0.2s ease;
    text-align: center;
    margin: 20px;
  }

  .card a:hover {
    background-color: #005388;
  }
  
  .card p {
    margin: 1rem;
  }
  
  #header {
    background-color: #0077c2;
    color: #fff;
    padding: 1rem 2rem;
  }
  
  #header h1 {
    margin-bottom: 0.5rem;
  }
  
  #footer {
    background-color: #eee;
    padding: 2rem;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
  }
  
  #footer h3 {
    margin-bottom: 1rem;
  }
  
  #footer ul {
    list-style: none;
    padding: 0;
  }
  
  #footer li {
    margin-bottom: 0.5rem;
  }
  
  @media (min-width: 768px) {
    .grid {
      grid-template-columns: repeat(2, 1fr);
    }
  }